*   {
    padding: 0;
    margin: 0;
}

/* Background pattern from Subtle Patterns */
body    {
    background: url(../images/dark_exa_@2x.png);
    position: absolute;
    height: 10vh;
}

header {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: #fff; 
    position: fixed;
    width: 100%;
    background-color: rgba(125,125,125,1);
    top: 0%;
}

nav {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

nav ul  {
    list-style: none;
    text-align: center;
    width: auto;
}

nav ul li   {
    display: inline-block;
    font-size: 24px;
    line-height: 44px;
    padding: 0px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main    {
    top: 15%;
    height: 60%;
}

aside   {
    float: left;
    width: 33%;
    background-color: rgba(125,125,125,0.7);
    margin: 19vh auto;
}

aside div   {
    background: rgba(125,125,125,0.5);
    margin: 20px 10px;
}

.contentbox {
    float: right;
    width: 66%;
    background-color: rgba(125,125,125,0.7);
    margin: 19vh auto 0 auto;
}

.contentbox div {
    background: rgba(125,125,125,0.5);
    margin: 15px 10px;
}

div a   {
    color: #fff;
}

footer {
    position: absolute;
    background: rgba(125,125,125,0.5);
    margin: 80vh auto 0 auto;
}

footer div  {
    background: rgba(125,125,125,0.5);
    margin: 20px 10px;
}
